*{
	margin: 0;
	padding: 0;
}
ul,ol,li{
	list-style: none;
}
body{
	background-color:#FFFAFA;
}

#app a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: black;
}
ul,li{
list-style: none;
}
#app{
	width: 100%
	height: 50px;
	background-color: #FFE0E1;
	opacity: 0.97; 
}
.head{
	width: 1200px;
	height: 50px;
	 margin: auto;
}
.search-left li{
	list-style-type: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	float: left;
	text-align: center;
	color: white;
	line-height: 50px;
}
.search-left img{
	width: 70px;
	height: 50px;

}
.search form{
	position: absolute;
	left: 800px;
	top: 10px;
	width: 220px;
	height: 20px;
}
.search input{
	width: 200px;
	height: 20px;
}
.search img{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 3px;
}
.serch button{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 3px;
}
.search-right li{
	list-style-type: inline-block;
	width: 50px;
	height: 50px;
	float: right;
	text-align: center;
	color: white;
	line-height: 50px;
}
.search-right img{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 11px;
}


#page{
	width: 1519px;
	height: 709px;
	overflow: hidden;
	position: relative;
}
/*图片*/
#roundImg{
	border-radius: 8px;
	width: 600px;/*每张图片400，左右各100给旁边图片*/
	height: 533px;
	z-index: 2;
	opacity: .9;
	border: 1px solid pink;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 200px;
}
#over{
	width: 604px;
	height: 533px;
	z-index: 6;
	background-color: pink;
	opacity: .2;
}
#slider{
	width: 2828px;
	height: 533px;
	position: absolute;
	left: -300px;
}
.slide{
	width: 404px;
	height: 533px;
	float: left;
}
.slide>img{
	border-radius: 0;
}
/*表单*/
.blank{
	width: 400px;
	height: 533px;
	z-index: 4;
	border-radius: 8px;
	/*background-color:#F5F5F5;*/
	background-color: #FFE4E3;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 900px;
}
.titleImg{
	width: 400px;
	height: 60px;
	border-bottom: 1px solid rgb(230,230,230);
	text-align: center;
}
.titleImg>img{
	height: 60px;
	width: 132px;
}
.selectInOrUp{
	width: 400px;
	height: 45px;
	border-bottom: 1px solid rgb(230,230,230);
	position: relative;
}
#QQ{
	width: 192px;
	height: 44px;
	cursor: pointer;
	text-align: center;
	font-family: '幼圆';
	line-height: 44px;
	display: inline-block;
	border-right: 1px solid rgb(230,230,230);
}
#weixin{
	width: 192px;
	height: 44px;
	cursor: pointer;
	text-align: center;
	font-family: '幼圆';
	line-height: 44px;
	display: inline-block;
}
#message1{
	width: 400px;
	height: 428px;
}
#name{
	width: 300px;
	border-bottom: 2px solid rgb(157,187,255);
	padding-bottom:5px;
	position: relative;
	top: 40px;
	left: 50px;
}
#name img{
	width: 30px;
	height: 30px;
	position: relative;
	left: 10px;

}
#name input{
	width: 260px;
	height: 40px;
	outline: none;
	background-color: rgba(0,0,0,0); 
	border: none;
	position: absolute;
	top: -6px;
	left: 55px;
}
#pass{
	width: 300px;
	border-bottom: 2px solid rgb(157,187,255);
	padding-bottom:5px;
	position: relative;
	top: 90px;
	left: 50px;
}
#pass img{
	width: 30px;
	height: 30px;
	position: relative;
	left: 10px;

}
#pass input{
	width: 260px;
	height: 40px;
	outline: none;
	background-color: rgba(0,0,0,0); 
	border: none;
	position: absolute;
	top: -6px;
	left: 55px;
}
#code{
	width: 300px;
	height: 44px;
	border-bottom: 2px solid rgb(157,187,255);
	padding-bottom:5px;
	position: relative;
	top: 115px;
	left: 50px;
}
#inp{
	height: 40px;
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
}
#getCode{
	width: 35%;
	height: 44px;
	float: right;
	border: none;
	background-color: rgb(225,225,225);
}
#codeImg{
	width: 150px;
	height: 30px;
	opacity: .5;
	position: relative;
	top: 115px;
	left: 50px;
}
#ifMemo{
	position: absolute;
	top: 400px;
	left: 10px;
}
#ifMemo input{
	margin-left: 40px;
}
#ifMemo a{
	font-size: 12px;
	text-decoration: none;
	position: relative;
	top: -1px;
	left: 48px;
}
#up{
	display: block;
	width: 260px;
	height: 35px;
	font: bold 20px '幼圆' ;
	cursor: pointer;
	color: rgb(127,157,255);
	text-align: center; 
	padding-top: 10px;
	border-radius: 10px;
	background-color:	#D3D3D3;
	position: relative;
	top: 170px;
	left: 70px;
}
#message1>a{
	font-size: 12px;
	text-decoration: none;
	position: relative;
	top: -120px;
	left: 240px;
}
#message2{
	display: none;
	width: 400px;
	height: 428px;
	position: absolute;
	top: 105px;
}
#message2 img{
	position: absolute;
	top: 60px;
	left: 70px;
}
#message2 p{
	position: relative;
	top: 30px;
	left: 80px;
}
.next{
	position: relative;
	top: 320px;
	left: 135px;
}
#cover{
	width: 255px;
	height: 251px;
	/*background-color: rgba(157,187,255,0.3);*/
	background-color: pink;
	opacity: .2;
	z-index: 7;
	position: absolute;
	top: 60px;
	left: 70px;
}
/*弹幕*/
#danmu{
	z-index: 3;
	width: 1700px;
	height: 750px;
	position: absolute;
}
#d1{
	width: 90px;
	height: 23px;
	text-align: center;
	background-color: pink;
	opacity: .5;
	border-radius: 10px;
	position: absolute;
	left: 1px;
	top: 2px;
}
#d2{
	width: 170px;
	height: 23px;
	text-align: center;
	background-color: rgb(200,90,50);
	opacity: .5;
	border-radius: 10px;
	position: absolute;
	left: 1px;
	top: 200px;
}
#d3{
	width: 150px;
	height: 23px;
	text-align: center;
	background-color: pink;
	opacity: .5;
	border-radius: 10px;
	position: absolute;
	left: 60px;
	top: 400px;
}
#d4{
	width: 350px;
	height: 23px;
	text-align: center;
	background-color: rgba(250,100,150,.5);
	opacity: .8;
	border-radius: 10px;
	position: absolute;
	left: 1000px;
	top: 300px;
}
#d5{
	width: 100px;
	height: 23px;
	text-align: center;
	background-color: yellow;
	opacity: .5;
	border-radius: 10px;
	position: absolute;
	left: 450px;
	top: 575px;
}
#d6{
	width: 150px;
	height: 23px;
	text-align: center;
	background-color: rgba(60,90,50,.5);
	opacity: .8;
	border-radius: 10px;
	position: absolute;
	left: 831px;
	top: 500px;
}
#d7{
	width: 400px;
	height: 23px;
	text-align: center;
	background-color: rgba(200,200,50,.5);
	opacity: .8;
	border-radius: 10px;
	position: absolute;
	left: 510px;
	top: 650px;
}
#d8{
	width: 220px;
	height: 23px;
	text-align: center;
	background-color: rgba(230,90,200,.5);
	opacity: .8;
	border-radius: 10px;
	position: absolute;
	left: 100px;
	top: 100px;
}
#d9{
	width: 220px;
	height: 23px;
	text-align: center;
	background-color: rgba(20,90,200,.5);
	opacity: .6;
	border-radius: 10px;
	position: absolute;
	left: 500px;
	top: 230px;
}
#d10{
	width: 220px;
	height: 23px;
	text-align: center;
	background-color: rgba(220,200,200,.5);
	opacity: .8;
	border-radius: 10px;
	position: absolute;
	left: 800px;
	top: 40px;
}

